<h2>List of all the Signers from {{city}}</h2>

<ul id="cityList">
{{#user}}
{{#if url}}
    <a href="{{url}}">{{first_name}} {{last_name}}</a>
{{else}}
    <p>{{first_name}} {{last_name}}</p>
{{/if}}
{{#if age}}
    <p>{{age}}</p>
{{/if}}
{{/user}}
</ul>
