<div class="editpage">
<h2>You can eddit your Profil below!</h2>
<form method="POST" class="editProfile">
<input name="firstname" type="text" id="firstname" placeholder="Name" value="{{firstname}}">
<input name="lastname" type="text" id="lastname" placeholder="Last Name"  value="{{lastname}}">
<input name="email" type="text" id="email" placeholder="Email"  value="{{email}}">
<input name="password" type="text" id="password" placeholder="Password">
<input name="age" type="number" placeholder="Enter your age"  value="{{age}}">
<input name="city" type="text" placeholder="Enter your city"  value="{{city}}">
<input name="url" type="text" placeholder="Website URL"  value="{{url}}">
<button>Update Profile</button>
</form>
<form id="deleteSignature" action="/signature/delete" method="POST">
    <button>DELETE SIGNATURE</button>
    
</form>
<form id="logout" method="POST" action="/login">
<Button> Logout</Button>
</form>
</div>

