<h1>All the brave people supporting our petition!</h1>

<ol>



    {{#rows}}
 <li>
{{#if url}}
    <a href="{{url}}">{{firstname}} {{lastname}}</a>
{{else}}
    <p>{{firstname}} {{lastname}}</p>
{{/if}}
<a href="/signers/{{city}}">{{city}}</a>
</li>
    {{/rows}}
</ol>
<a id="edit" href="/profile/edit">EDIT PROFILE</a>



{{!-- {{> signatureslist}} --}}