

<ol id="signersList">
    <h2>All the brave people supporting our petition!</h2>

    {{#rows}}
 <li>
{{#if url}}
    <a href="{{url}}">{{firstname}} {{lastname}}</a> -
{{else}}
    <p>{{firstname}} {{lastname}}</p> 
{{/if}}
<a href="/signers/{{city}}">{{city}}</a> 
</li>
    {{/rows}}
</ol>
<a id="edit" href="/profile/edit">EDIT PROFILE</a>
<form id="logout" method="POST" action="/login">
<Button> Logout</Button>
</form>



{{!-- {{> signatureslist}} --}}